:root {
  --color-acid-green: #cbe800;
  --color-gentian-blue-metallic: #09203f;
  --color-jade-green: #00bc96;
  --color-lava-orange: #ff2600;
  --color-miami-blue: #00b5c8;
  --color-pastel-blue: #a0d8fb;
  --color-rubystone-red: #f3037e;
  --color-light-gray: #eeeeee;
  --color-mid-gray: #666666;
  --color-dark-gray: #222222;

  --font-body-family: skolar-sans-latin-condensed, serif;
  --font-body-weight: 600;
  --font-body-style: normal;

  --font-secondary-family: ff-brokenscript-bc-web, sans-serif;
  --font-secondary-weight: 700;

  --font-light-weight: 400;
  --font-regular-weight: 400;
  --font-bold-weight: 700;
  --font-extrabold-weight: 900;
}

body {
  font-family: var(--font-body-family);
  font-weight: var(--font-body-weight);
  font-style: var(--font-body-style);

  color: var(--color-gentian-blue-metallic);

  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: var(--color-gentian-blue-metallic);
}

.light {
  font-weight: var(--font-light-weight);
}

.bold, b {
  font-weight: var(--font-bold-weight);
}

.extrabold, strong {
  font-weight: var(--font-extrabold-weight);
}

.secondary {
  font-family: var(--font-secondary-family);
  font-weight: var(--font-secondary-weight);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary-family);
  font-weight: var(--font-secondary-weight);
}
